<div class="register-container">
  {{#if error}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{/if}}


  <div class="card bg-black text-white tarjetaFormLogin">
    <div class="card-header ">
      <h4 class="text-center">
        Login
      </h4>
    </div>
    <div class="card-body">
      <form action="/auth/login" method="POST">
        <div class="mb-3">
          <input type="email" required class="form-control bg-dark text-white" name="email" placeholder="Email" />
        </div>
        <div class="mb-3">
          <input type="password" required class="form-control bg-dark text-white" name="password"
            placeholder="Password" />
        </div>

        <button class="btn btn-success col-12">
          Sigin
        </button>
      </form>
    </div>
    <p class="text-center">do you have not a account?
      <a href="/auth/register" class="text-info">Register</a>
    </p>
  </div>
</div>